<div class="container">
  <% if !flash[:notice].blank? %>
    <%= flash[:notice] %>
  <% end %>
  <p>How much did you spend on lunch today?</p>
  <%= form_for(:entry, url: {action: 'create'}) do |f| %>
    <%= f.text_field :name, placeholder: 'Description' %>
    <%= f.text_field :amount, placeholder: 'Amount' %>
    <%= submit_tag("Submit") %>
  <% end %>


</div>